* {
	margin: 0;
	padding: 0;
}

body {
 	background-color: #343432;
	font-size: 16px;

}

#wrap {
	background-color: white;
	padding: 2em 0;
	line-height: 1.5em;
	font-size: 1em;
	font-family: sans-serif;
}

#menu {
	padding: 1em 0;
	text-align: center;
	background-color: #343432;
	margin:0px auto;
}

#menu li {
	padding: 0.4em;
	display: inline;
	font-size: 1.25em; 
	border-bottom-right-radius: 8px;
	border-bottom-left-radius: 8px;
}
	
a.main-menu:hover {
	color: white;
}

a.main-menu {
	text-decoration: none;
	color:#8E8E8C;
}

#chosen_main a {
	font-size:1.5em;
	font-weight: bold;
	color:white;
}

#chosen a {
	color:white;
}

#tennis_text {
	text-align: center;
	margin:0 auto;
	padding:10px 5px;	
	width: 80%;
	margin-bottom: 1em;
	border-radius: 5px;
	
}
#tennis_text a {
	color: #004187;
}
.grid {
	width: 100%;
	display:table;
	border-spacing: 10px;
}

.row {
	display:table-row;
}

.image {
	position: relative;
	display:table-cell;
	text-align: center;
}

.image img {
	width: 100%;
	height: 180px;
	border-radius: 5px;
	border:1px solid  #343432;
}


#main_section {
	width: 80%;
	margin: 0 auto;
	border-radius: 5px;
	background-color: white;
	border:4px solid #343432;
} 

#index {
	width: 80%;
	margin: 0 auto;
	min-height: 400px;
}

#index img {
  width: 227px;
  height: 301px;
  float: left;
  margin: 0em 2em 1em 0;
  border-radius: 5px;
}

#index p{
	padding-top: 30px;
}
#education {
	width: 80%;
	margin: 0 auto;
	text-align: center;
}
#education img {
	width: 100%;
}
#education h1{
	margin-bottom: 2%;
	color:#8E8E8C;
}
#education p {
	margin-bottom: 2%;
}

#experience {
	width: 80%;
	margin: 0 auto;
	text-align: center;
}

#experience h1{
	margin-bottom: 2%;
	color:#8E8E8C;
}
#experience p {
	margin-bottom: 2%;
}

#classes {
	width: 100%;
	margin:0 auto;
}
#cs, #econ {
	display: inline-block;
	margin: 0 3em;
	min-width: 400px;
	text-align: left;
}
#classes h4 {
	margin-top: 10px ;
	margin-bottom: 10px;
	font-size: 1.4em;
}

footer {
	padding: 2em 0;
	color:#8E8E8C;
	text-align: center;
	background-color: #343432;
}

footer li {
	padding: 10px;
	display: inline-block;
	font-size: 1.2em;	
}

footer a {
	color:white;
}

footer a:visited {
	color:white;
}

footer a:active {
	color:#8E8E8C;
}

footer a:hover {
	color:#8E8E8C;
}

#copyright {
	margin-top: 1em;
	color: white;
}

@media only screen and (max-width: 400px), only screen and (max-device-width: 800px) {
 
	#main_section {
		border:none;
	}

	#wrap p {
		text-align: center;
		font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
		font-size: 32px;
		line-height: 1.4em;
	}

	header {
		font-size: 2.6em;
	}

	 footer {
	 	font-size: 2.3em;
	 }

	#menu li:first-child {
		display: block;
	}
	.image {
		display: block;
	}
	.image img {
		height: auto;
		margin:2em 0;
	}
	#index {
		text-align: center;
	}
	#index img {
		width: 70%;
		float: none;
		margin: 0 auto;		
		margin-bottom: 3em;
		border-radius: 25px;
	}
	#education h1 {
		margin-top: 5%;
		margin-bottom: 5%;
		font-size:42px;
	}
	#education p {
		margin-bottom: 5%;
	}
	
	#experience h1 {
		font-size: 42px;
		margin-bottom: 5%;
		margin-top: 5%;
	}
	#experience h4 {
		font-size: 35px;
		line-height: 1.2em;
		margin-bottom: 10px;
	}
	#classes {
		line-height: 5em;
	}
	#classes li{
		line-height: 1.4em;
		font-size: 32px;
	}

	
 }
 
